<template>
    <div>
      <section class="section">
        <div class="container">
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="text" placeholder="example@site.com" v-model="email">
            </div>
          </div>
  
          <div class="field">
            <label class="label">Mot de passe</label>
            <div class="control">
              <input class="input" type="password" placeholder="Password" v-model="password">
            </div>
          </div>
  
          <div class="field">
            <div class="control">
              <button class="button is-primary" @click="login">LOGIN</button>
            </div>
          </div>
  
          <div class="notification is-danger" v-if="errorMessage">
            {{ errorMessage }}
          </div>
  
        </div>
      </section>
      <notification ref="notification"></notification>
    </div>
  </template>
  
  <script>
  import { signIn, auth } from "@/firebase/firebaseConfig";
  import { onAuthStateChanged } from "firebase/auth";
  import "@fortawesome/fontawesome-free/css/all.css";
  
  export default {
    name: "LoginView",
    data() {
      return {
        email: "",
        password: "",
        errorMessage: ""
      };
    },
    mounted() {
      this.checkToken();
    },
    methods: {
      checkToken() {
        onAuthStateChanged(auth, (user) => {
          if (user) {
            this.$router.push("/search");
          }
        });
      },
      login() {
        signIn(this.email, this.password)
          .then((userCredential) => {
            if (userCredential.user) {
              console.log("GOOD");
              this.$router.push('/search')
            } else {
              this.errorMessage = "Invalid email or password";
            }
          })
          .catch((error) => {
            console.error(error);
          });
      },
    }
  };
  </script>
  
  <style>
  @import "bulma/css/bulma.min.css";
  </style>
  