<template>
    <div>
      <h1 className="title">Ajouter nouvel utilisateur</h1>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="text" v-model="email">
        </div>
      </div>
      <div class="field">
        <label class="label">Prénom</label>
        <div class="control">
          <input class="input" type="text" v-model="prenom">
        </div>
      </div>
      <div class="field">
        <label class="label">Nom</label>
        <div class="control">
          <input class="input" type="text" v-model="nom">
        </div>
      </div>
      <div class="field">
        <label class="label">Mot de passe</label>
        <div class="control">
          <input class="input" type="password" v-model="password">
        </div>
      </div>
      <label class="label">Profil audio</label>
      <div className="columns is-multiline">
      <div className="column">
      <div class="field">
        <label class="label">Enregistre un audio</label>
        <AudioRecording @recordingStopped="handleRecordingStopped" v-bind:audio-name="audioName"></AudioRecording>
        <div v-if="profilePictureURL">
          <img :src="profilePictureURL" alt="Profile Picture" class="profile-picture">
        </div>
      </div>
      </div>
      <div className="column">
      <div class="field">
              <label class="label">Choisir un audio</label>
              <div class="control">
                <input type="file" accept=".wav" @change="handleFileChange">
              </div>
        </div>
      </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button" @click="register" style="background-color: #006fb7; color: white;">Ajouter</button>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import {addUser, checkAdmin} from "@/firebase/firebaseConfig";
  
  import AudioRecording from "@/components/AudioRecordingView.vue";
  
  export default {
    name: "RegisterView",
    components: {AudioRecording},
    data() {
      return {
        email: "",
        prenom: "",
        nom: "",
        password: "",
        audioFile: null,
        audioName: "",
      };
    },
    mounted() {
      this.generateRandomFileName()
      this.verify()
    },
    methods: {
      handleFileChange(event) {
      this.audioFile = event.target.files[0];
    },

        handleRecordingStopped(wavFile) {
          this.audioFile = wavFile;
    },

      register() {
        const fullname = this.prenom + " " + this.nom;
        addUser(this.email, this.password, fullname, this.audioFile);
        this.email = "";
        this.prenom = "";
        this.nom = "";
        this.password = "";
        this.audioFile = null;
        this.generateRandomFileName();
      },

      generateRandomFileName() {
        const timestamp = new Date().getTime();
        const randomString = Math.random().toString(36).substring(2, 8); // Generates a random string of length 6
        this.audioName =  `${timestamp}${randomString}`;
      },
    async verify() {
      const isAdmin = await checkAdmin()
      if(!isAdmin){
        this.$router.push("/search");
      }
    }
    },
  };
  </script>
  
  <style scoped>
  @import "bulma/css/bulma.min.css"
  </style>