<template>
  <div>
    <h1 class="title" v-if="!confirmName">Nom de la réunion</h1>
    <div className="columns" v-if="confirmName">
    <div className="column">
    <h1 class="title">Nom de la réunion: {{ name }}</h1>
    </div>
    <div className="column">
    <button className="button is-link" v-on:click="confirmName = false">Edit</button>
    </div>
  </div>
    <div class="field" v-if="!confirmName">
      <div class="control">
        <input class="input" type="text" v-model="name" @keyup.enter="confirm">
      </div>
    </div>
    <h1 class="title" v-if="users.length > 0">Utilisateurs</h1>
    <div className="columns is-multiline">
      <div className="column is-4-desktop is-4-tablet is-12-mobile" v-for="user in users" :key="Object.keys(user)">
            <div className="box">
                <div className="content is-flex is-justify-content-space-between">
                    <span className="has-text-weight-bold mt-2 is-size-4">{{ user[Object.keys(user)].name }}</span>
                    <div>
                        <button v-on:click="addUser(user)" id="add" className="button is-success is-rounded is-size-7-mobile"> Ajouter </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="title" v-if="confirmUsers.length > 0">Utilisateurs dans la réunion</h1>
    <div className="columns is-multiline">
      <div className="column is-4-desktop is-4-tablet is-12-mobile" v-for="confirmUser in confirmUsers" :key="Object.keys(confirmUser)">
            <div className="box">
                <div className="content is-flex is-justify-content-space-between">
                    <span className="has-text-weight-bold mt-2 is-size-4">{{ confirmUser[Object.keys(confirmUser)].name }}</span>
                    <div>
                        <button v-if="!processing" v-on:click="deleteUser(confirmUser)" className="button is-danger is-rounded is-size-7-mobile"> Supprimer </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div className="columns is-multiline" v-if="confirmName && confirmUsers.length > 0">
      <div className="column is-6">
      <div className="field">
        <label class="label">Enregistrer une réunion</label>
        <AudioRecording @recordingStopped="handleRecordingStopped" v-bind:audio-name="name"></AudioRecording>
      </div>
    </div>
    <div className="column is-6">
      <div class="field">
              <label class="label">Choisir un audio</label>
              <div class="control">
                <input type="file" accept=".wav" @change="handleFileChange">
              </div>
        </div>
      </div>
    <div className="column is-8">
      <button className="button is-link" v-if="audioFile && !processing" v-on:click="processAudio()">Traiter</button>
      <h1 class="title" v-if="processing">Traitment... Veuillez patienter</h1>
    </div>
  </div>
  </div>
</template>

<script>
import AudioRecording from "@/components/AudioRecordingView.vue";
import {getProfils, uploadAudio,addMeeting, uploadFile} from "@/firebase/firebaseConfig";
import {MAIN_API_URL} from "@/constants";

export default {
  components: { AudioRecording },
  data() {
    return {
      audioFile: null,
      name: "",
      confirmName: false,
      users: [],
      confirmUsers: [],
      processing: false,
    };
  },

  mounted() {
    this.getUsers()
  },
  methods: {

    handleFileChange(event) {
      this.audioFile = event.target.files[0];
    },

    handleRecordingStopped(wavFile) {
      this.audioFile = wavFile;
    },

    confirm() {
      if (this.name.trim() !== "") {
        this.confirmName = true;
      }
    },
    async getUsers() {
      this.users = await getProfils()
      },

      addUser(user) {
        this.confirmUsers.push(user)
        this.users = this.users.filter(userList => userList !== user)
        console.log(this.confirmUsers)
      },

      deleteUser(user) {
        this.users.push(user)
        this.confirmUsers = this.confirmUsers.filter(userList => userList !== user)
      },

      async processAudio() {
        this.processing = true
        const audioURL = await uploadAudio(this.audioFile)
        const users = []
        for (let i in this.confirmUsers){
          users.push(this.confirmUsers[i][Object.keys(this.confirmUsers[i])]);
        }

        const body = {"audio_url": audioURL}
        const response = await fetch(`${MAIN_API_URL}/segment-audio/`, {
        headers: {"Content-Type": "application/json"},
        method: "POST",
        body: JSON.stringify(body),
    });
    if (response.ok) {
      console.log(response)
    const data = await response.json();
    const body2 = {"speaker_segments": data[0], "users": users, "audio": data[1]}
        const response2 = await fetch(`${MAIN_API_URL}/identification-audio/`, {
        headers: {"Content-Type": "application/json"},
        method: "POST",
        body: JSON.stringify(body2),
    });
    if (response2.ok) {
      const data2 = await response2.json();
    const body3 = {"users_identification": data2, "audio": data[1]}
        const response3 = await fetch(`${MAIN_API_URL}/process-audio/`, {
        headers: {"Content-Type": "application/json"},
        method: "POST",
        body: JSON.stringify(body3),
    });
    
    if (response3.ok) {
      const data3 = await response3.json();
    console.log(data3[0]);
    if (Array.isArray(data3) && data3.length > 0) {
        const csvContent = this.convertToCSV(data3);
        const blob = new Blob([csvContent], { type: "text/csv" });
        const file = new File([blob], "temp.csv");
        console.log(file);
        addMeeting(this.confirmUsers, this.name, audioURL, file)
        this.processing = false
    } else {
        console.log("Response data is empty");
        // Handle the case where response data is empty
    }
  }
}
} else {
    const data = await response.json();
    setErrorMessage(data.message);
}
},
convertToCSV(data) {
  const header = "Date,Person,Text\n";
  const rows = data.map(obj => `${obj.date},${obj.name},${obj.text}`).join("\n");
  return header + rows;
}
  }
};
</script>

<style scoped>
#controls {
  margin-bottom: 20px;
}
</style>
