<template>
  <div class="container p-5">
    <!--Name search section-->
    <div className="columns">
      <div class="column">
        <label class="label">Rechercher les transcriptions vocales attribuées à</label>
        <div class="field has-addons">
          <div class="control">
            <input v-model="name" id="nameInput" class="input" type="text" placeholder="nom" @focus="showBox = true">
            <div class="box" v-if="showBox" id="nameBox" style="position: absolute; z-index: 100; max-height: 500px; overflow-y: auto;">
              <div class="content">
                <div class="table">
                  <table class="table">
                    <tr v-for="speaker in speakersFiltered" v-on:click="name = speaker; showBox = false">
                      <td class="button is-fullwidth">{{ speaker }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <label class="label">Rechercher les transcriptions vocales du...</label>
        <div class="field has-addons">
          <div class="control">
            <input v-model="date" class="input" type="date" id="date">
          </div>
        </div>
      </div>
      <div class="column">
        <label class="label">Rechercher les transcriptions de la réunion</label>
        <div class="field has-addons">
          <div class="control">
            <input v-model="meetingInput" id="meetingInput" class="input" type="text" placeholder="réunion" @focus="showBoxMeeting = true">
            <div class="box" v-if="showBoxMeeting" id="meetingBox" style="position: absolute; z-index: 100; max-height: 500px; overflow-y: auto;">
              <div class="content">
                <div class="table">
                  <table class="table">
                    <tr v-for="meeting in meetingsFiltered" v-on:click="meetingInput = meeting; showBoxMeeting = false">
                      <td class="button is-fullwidth">{{ meeting }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div className="column is-2">
        <br>
        <br>
        <button className="button is-info mt-2" v-on:click="search">Rechercher</button>
      </div>
      <div className="column is-1">
        <br>
        <br>
        <button v-if="search_results.length > 0" className="button is-success mt-2" v-on:click="downloadCSV">Télécharger</button>
      </div>
    </div>
    <div class="table">
      <table class="table">
        <tr>
          <th>Nom</th>
          <th>Paroles</th>
          <th>Date</th>
        </tr>
        <tr v-for="result in search_results" :key="index">
          <td>{{ result[1] }}</td>
          <td>{{ result[2] }}</td>
          <td>{{ result[0] }}</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import { MAIN_API_URL } from "@/constants";
import {getMeetingsForCurrentUser} from "@/firebase/firebaseConfig";
export default {
  name: "SearchView",
  data() {
    return {
      search_parameter: "",
      name: "",
      date: "",
      meetingInput: "",
      search_results: [],
      speakers: [],
      meetings: [],
      data: [],
      showBox: false,
      showBoxMeeting: false,
    }
  },
  computed: {
    speakersFiltered() {
      const filteredSpeakers = []
      Object.keys(this.speakers).forEach(speakerId => {
        if(this.speakers[speakerId].toLowerCase().includes(this.name.toLocaleLowerCase())) {
          filteredSpeakers.push(this.speakers[speakerId]);
        }
        });
        return filteredSpeakers
},

urlFiltered() {
      const url = []
        for (let i in this.data){
          if(this.data[i].title.toLocaleLowerCase().includes(this.meetingInput.toLocaleLowerCase())){
            url.push(this.data[i].csv_file)
          }
        }
        return url
},

    meetingsFiltered() {
      return this.meetings.filter(meeting =>
        meeting.toLowerCase().includes(this.meetingInput.toLowerCase())
      );
    }
  },
  mounted() {
    this.getMeetings();
    window.addEventListener("click", this.handleClickOutside);
  },
  methods: {
    async getMeetings() {
      const data = await getMeetingsForCurrentUser()
      for (let i in data) {
        this.data = data
        this.meetings.push(data[i].title)
        Object.keys(data[i].speakers).forEach(speakerId => {
          let speaker={}
          this.speakers.push(speaker[speakerId] = data[i].speakers[speakerId]);
        });
      }
    },

    async search() {
      const body = {"date": this.date, "name": this.name, "meeting": this.meetingInput, "url": this.urlFiltered}
      const response = await fetch(`${MAIN_API_URL}/get-data-filtered/`, {
      headers: {"Content-Type": "application/json"},
      method: "POST",
      body: JSON.stringify(body),
      });
      const data = await response.json();
      if (response.ok) {
        console.log(data)
        this.search_results = data;
      } else {
        setErrorMessage(data.message);
      }
    },

    downloadCSV() {
      const csvContent = this.convertToCSV(this.dataList);
      const blob = new Blob([csvContent], { type: "text/csv" });
      const link = document.createElement("a");
      link.href = window.URL.createObjectURL(blob);
      if(this.meetingInput){
        link.download = `${this.meetingInput}.csv`;
      }else if(this.name){
        link.download = `${this.name}.csv`;
      }else {
        link.download = "data.csv";
      }
      link.click();
    },
    convertToCSV() {
      const header = "Date,Meeting,Person,Text\n";
      const rows = this.search_results.map(obj =>
        `${obj[0]},${obj[1]},${obj[2]},"${obj[3]}"`
      );
      return header + rows.join("\n");
    },

handleClickOutside(event) {
      if (!event.target.closest("#nameBox") && !event.target.closest("#nameInput")) {
        this.showBox = false;
      }
      if (!event.target.closest("#meetingBox") && !event.target.closest("#meetingInput")) {
        this.showBoxMeeting = false;
      }
    },
  }
}
</script>

<style scoped>
</style>
