<template>
    <div>
      <div id="controls">
        <button @click="startRecording" :disabled="recording">Start Recording</button>
        <button @click="stopRecording" :disabled="!recording">Stop Recording</button>
      </div>
      <audio v-if="audioFileURL" controls ref="audio" v-bind:src="audioFileURL"></audio>
    </div>
  </template>
  
  <script>
  export default {
    name: "AudioRecording", props: { audioName : String },
    data() {
      return {
        recording: false,
        audioContext: null,
        mediaStreamSource: null,
        audioFileURL: null,
        recordedChunks: []
      };
    },
    methods: {

      async startRecording() {
        try {
          const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
          this.audioContext = new AudioContext();
          this.mediaStreamSource = this.audioContext.createMediaStreamSource(stream);
  
          const scriptNode = this.audioContext.createScriptProcessor(4096, 1, 1);
  
          scriptNode.onaudioprocess = event => {
            const inputData = event.inputBuffer.getChannelData(0);
            this.recordedChunks.push(new Float32Array(inputData));
          };
  
          this.mediaStreamSource.connect(scriptNode);
          scriptNode.connect(this.audioContext.destination);
  
          this.recording = true;
        } catch (err) {
          console.error('Error recording audio: ', err);
        }
      },
      stopRecording() {
        this.mediaStreamSource.disconnect();
        this.audioContext.close();
  
        const float32Array = this.mergeFloat32Arrays(this.recordedChunks);
        const wavBuffer = this.encodeWAV(float32Array, this.audioContext.sampleRate);
  
        const blob = new Blob([wavBuffer], { type: 'audio/wav' });
        const url = URL.createObjectURL(blob);
        const wavFile = new File([blob], `${this.audioName}.wav`, { type: 'audio/wav' });
  
        this.audioFileURL = url
        this.$emit('recordingStopped', wavFile);
        this.recordedChunks = [];
        this.recording = false;
      },
      mergeFloat32Arrays(arrays) {
        const totalLength = arrays.reduce((acc, arr) => acc + arr.length, 0);
        const result = new Float32Array(totalLength);
        let offset = 0;
        arrays.forEach(arr => {
          result.set(arr, offset);
          offset += arr.length;
        });
        return result;
      },
      encodeWAV(samples, sampleRate) {
        const buffer = new ArrayBuffer(44 + samples.length * 2);
        const view = new DataView(buffer);
  
        this.writeString(view, 0, 'RIFF');
        view.setUint32(4, 36 + samples.length * 2, true);
        this.writeString(view, 8, 'WAVE');
        this.writeString(view, 12, 'fmt ');
        view.setUint32(16, 16, true);
        view.setUint16(20, 1, true);
        view.setUint16(22, 1, true);
        view.setUint32(24, sampleRate, true);
        view.setUint32(28, sampleRate * 2, true);
        view.setUint16(32, 2, true);
        view.setUint16(34, 16, true);
        this.writeString(view, 36, 'data');
        view.setUint32(40, samples.length * 2, true);
  
        this.floatTo16BitPCM(view, 44, samples);
  
        return buffer;
      },
      writeString(view, offset, string) {
        for (let i = 0; i < string.length; i++) {
          view.setUint8(offset + i, string.charCodeAt(i));
        }
      },
      floatTo16BitPCM(output, offset, input) {
        for (let i = 0; i < input.length; i++, offset += 2) {
          const s = Math.max(-1, Math.min(1, input[i]));
          output.setInt16(offset, s < 0 ? s * 0x8000 : s * 0x7FFF, true);
        }
      }
    }
  };
  </script>
  
  <style scoped>
  #controls {
    margin-bottom: 20px;
  }
  </style>
  