<template>
    <nav role="navigation" class="navbar" style="background-color: #002d04;">
        <a v-if="currentId" id="profile" class="navbar-item has-text-white" @click="$router.push('/record')">
          Réunion
        </a>
        <a v-if="currentId" id="profile" class="navbar-item has-text-white" @click="$router.push('/search')">
          Recherche
        </a>
        <div class="navbar-end">
        <a v-if="isAdmin" id="profile" class="navbar-item has-text-white" @click="$router.push('/management')">
          Gestion
        </a>
        <button v-if="currentId" id="logout" class="navbar-item button mt-1 is-danger" @click="signOut">
          Déconnexion
        </button>
      </div>
    </nav>
  </template>
  
  <script>
import { signOutUser, checkAdmin} from "@/firebase/firebaseConfig"; // Importez 'auth' depuis firebaseConfig.js

export default {
  name: "MenuView",
  props: {
    currentId: {
      type: String,
      required: true
    },
    isAdmin: {
      type: Boolean,
      required: true
    }
  },
  methods: {
    signOut() {
      signOutUser();
    },
  },
}
</script>
  
  <style scoped>
  </style>