<template>
  <MenuView :currentId="currentId" :isAdmin="isAdmin"></MenuView>
  <div class="container">
    <router-view :isAdmin="isAdmin"/>
  </div>
</template>

<script>
import MenuView from "@/components/MenuView.vue";
import { auth, checkAdmin} from "@/firebase/firebaseConfig";
import { onAuthStateChanged } from "firebase/auth";
export default {
  name: "App",
  components: {MenuView},
  data() {
    return {
      currentId: "",
      isAdmin: false,
    };
  },
  mounted() {
    onAuthStateChanged(auth, async (user) => {
  if (user) {
    this.verify()
    // User is signed in
    if (this.$route.path == "/login") {
      this.$router.push("/search");
    }
    this.currentId = String(user.uid);
  } else {
    // User is signed out
    this.currentId = false;
    this.$router.push("/login");
  }
});
  },
  methods: {
    async verify() {
      this.isAdmin = await checkAdmin()
    }
  }
};
</script>
<style>
@import "bulma/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css";
</style>
